// Navigation Styles here

header {
    border-bottom: 2px dashed @navigation-border;
    margin: 20px 0;
    padding: 20px 0;
    .flexDisplay(row, nowrap, space-between, center);
  
    @media @mobile {
      flex-direction: column;
      align-items: center;
    }
    
    nav {
  
      @media @mobile {
        margin-left: 0;
      }
  
      a {
        .navStyle(black, 1.5rem, none);
        padding: 20px;
      }

    }
  }